@font-face {
    font-family: 'KerisKedyuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_R.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'KerisKedyuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
body {
    background-image: url("img/green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    color: pink;
}
#skin_list {
    margin: 44px auto;
    width: 1400px;
    height: 700px;
    background-color: white;
}
#Slist {
    color: black;
    font-family: KerisKedyuche;
    font-size: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
#skin_icon {
    display: flex;
    justify-content: space-around;
}
#skin_icon img {
    width: 140px;
    border: 1.4px solid black;
}