@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'OkDandan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2508-2@1.0/OkDanDan-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url("img/bedroom.jpg");
    background-size: cover;
}
#tajiri {
    position: absolute;
    top: 34%;
    left: 27%;
    width: 50%;
    animation: ta 1s forwards;
}
@keyframes ta{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#talkballoon {
    display: inline-block;
    width: 340px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 34%;
    left: 60%;
    border: 2px solid black;
}
#talkballoon span {
    font-size: 40px;
    padding: 14px;
    font-family: 'SchoolSafetyRoundedSmile';
}
#arrow-right {
    float: right;
    width: 100px;
    height: 500px;
}
#arrow-left {
    float: left;
    width: 100px;
    height: 500px;
}
.arrow {
    border-radius: 14px;
    transition-duration: 0.5s;
    margin-top: 6px;
}
.arrow:hover {
    background-color: rgba(188, 188, 188, 0.3);
}
.select {
    display: inline-block;
    width: 250px;
    height: 120px;
    background-color: white;
    margin: 0px 40px;
    border: 4px solid pink;
    border-radius: 14px;
    transition-duration: 0.4s;
    font-size: 30px;
    font-family: okdandan;
    text-align: center;
}
.select:hover {
    background-color : rgb(226, 226, 226);
}
#s {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: black;
}